* {
  padding: 0;
  margin: 0;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background: url("../src/app/assets/bgmainn.png");
  background-position: center center;
  background-size: 100% 100%;
}

.container {
  max-width: 1280px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.icon_color {
  color: #8b3dda !important;
}
.swiper-button-prev,
.swiper-button-next {
  background: rgb(32, 27, 52);
  background: linear-gradient(#201b34, #0f0d19);
  padding: 10px;
  border-radius: 50%;
  height: 35px !important;
  width: 35px !important;
  color: #fff !important;
  font-size: 15px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px !important;
}
.swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
}
.swiper-pagination-bullet-active {
  background-color: #8b3dda !important;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 922px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
